#mainImg {
    position: relative;
    width: 100%;
    height: 950px;
}

#imgM {
    position: absolute;
    width: 100%;
}

#katalog {
    background: none;
    position: absolute;
    border: none;
    width: 350px;
    height: 50px;
    outline: solid 2px white;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 670px;
    left:50%;
    transform:translateX(-50%);
    font-size: 150%;
    letter-spacing: 3px;
    text-decoration: underline;
    text-underline-offset: 5px;
    z-index: 1;
}

#gokat {
    position:absolute;
    transform: translateX(-50%);
    top: 1450px;
    height: 50px;
    width: 350px;
    border: none;
    background: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#katalog:hover {
    animation: upbut 0.5s linear;
    animation-iteration-count: 1;
}

@keyframes upbut {
    from, to {transform: translate(-50%, 0);}
    
    50% {transform: translate(-50%, -20px);}
}

.line {
    position:absolute;
    width: 100%;
    height: 1px;
    background: white;
    top: 750px;
    z-index: 1;
}

.grid {
    position: absolute;
    display: grid;
    top: 780px;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-column-gap: 50px;
    left: 50%;
    transform:translateX(-50%);
}

.grid img {
    height: 100px;
}

#kat {
    margin-top: 50px;
    height: 250px;
    width: 100%;
    text-align: center;
}

#kat h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 350%;
    font-weight: bolder;
}

.katgrid {
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px;
    grid-column-gap: 50px;
}

.katgrid button {
    border-radius: 10px;
    background: white;
}

.mangrid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 150px;
    justify-content: center;
}

.otdelspan {
    position: relative;
    transition: all 1s;
    border-radius: 10px;
}

.otdelspan h2 {
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 3px;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    z-index: 3;
}

.otdelspan::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(0,0,0,0.5) 100%);
    left: 0;
    opacity: 0.5;
    border-radius: 10px;
}

.imgOtdel {
    width: 300px; 
    height: 300px;
    border-radius: 10px;
}

#manchain, #brasletman, #kole, #sergi, #brosh, #podveska {
    left: 50%;
    transform: translateX(-50%);
}

#gridotdel {
    margin-top: 50px;
    position: relative;
}

#manO, #womanO, #childO {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.manO:hover, .womanO:hover, .childO:hover {
    transform: scale(1.2) !important;
}

#map {
    margin-top: 300px;
    height: 350px;
    width: 100%;
    background: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    padding-top: 70px;
}

#map h1 {
    letter-spacing: 5px;
}

#ans {
    font-size: 300%;
}

#que {
    padding-bottom: 80px;
    font-size: 150%;
}

#bmap {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 550;
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    margin-top: 70px;
    height: 50px;
    width: 350px;
    color: black;
}

#man {
    color: white;
}

#woman, #child {
    color: black;
}