#black-block {
    width: 100%;
    height: 100px;
    background: white;
    margin-bottom: 20px;
}

#name, #enter, #onmain, #lomb, #shops, #about {
    color: black;
}

.mankat {
    color: white;
    text-align: center;
    height: 401px;
    background: black;
    padding-top: 30px;
    padding-bottom: 60px;
    height: 100%;
}

.mankat h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 350%;
    font-weight: bolder;
}

.manotdgrid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(6, 250px);
    justify-content: center;
    grid-column-gap: 70px;
}

.manblock {
    height: 300px;
    outline: solid 1px gray;
    border-radius: 10px;
    transition: all 1s;
}

.manblock p {
    margin-top: 10px;
    font-style: normal;
    font-family: 'Times New Roman';
    font-size: 150%;
    font-weight: bolder;
}

.imggrid {
    width: 250px;
    height: 200px;
}

.manblock:hover {
    transform: scale(1.1);
    background: white;
    color: black
}

#buy {
    height: 30px;
    width: 100px;
    margin-top: 25px;
    background: black;
    background: #fadadd;
    border: none;
    border-radius: 5px;
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 0.2s;
}

.womankat {
    background: white;
    color: black;
    padding-bottom: 60px;
}

.womanblock:hover {
    background: black;
    color: white;
}

#buy.changemargin {
    margin-top: 10px;
}

.adaptspan::before {
    background: black;
}

#menu {
    color: black;
}

#blackmenu {
    color: black;
    background: white;
}

#blackmenu::before, #blackmenu::after {
    background: black;
}